!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= data.page.title
    = stylesheet_link_tag "style"
    = javascript_include_tag "modernizr","all", "pragmatic", "flip", "tone", "webaudio_tools"
  %body{:class => page_classes}
    = yield
    = javascript_include_tag  "all", "pragmatic", "flip", "tone", "webaudio_tools"
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.3/p5.js"}
    / %script{:src => "https://code.jquery.com/jquery-2.1.4.min.js"}
    / %script{:src => "https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"}

